<% if object.errors.any? %>
  <div id="error_explanation" class="has-error">
    <h3 class="control-label"><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.titlecase %> from being saved:</h3>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
          <li class="control-label"><%= msg %></li>
      <% end %>
    </ul>
  </div>

 <%= render :partial => 'parts/error_explanation_script', :locals => {:object => object} %>
<% end %>