<div class="container">
  <h1 class="text-center">
    Schedule for <%= @schedule.scheduled.name %>
    <% if user_signed_in? %>
      <small>
        <%= link_to '(edit)', edit_schedule_path(@schedule) %>
      </small>
    <% end %>
  </h1>
  <%= render :partial => 'schedules/calendar' %>
</div>
